/* theme color */
//$--color-primary: teal;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

$--default-border-color: #D2DDEC;
$--border-color-base: #D2DDEC;
$--border-radius-base: 0.375rem;

@import "~element-ui/packages/theme-chalk/src/index";
