@import "../dashkit/fonts/feather/feather.min.css";
@import "../dashkit/libs/flatpickr/dist/flatpickr.min.css";
@import "../dashkit/libs/quill/dist/quill.core.css";
@import "../dashkit/libs/select2/dist/css/select2.min.css";
@import "../dashkit/libs/highlight.js/styles/vs2015.css";
